*{
    padding:0;
    margin:0;

}
body{
    background-image: url(bkg.jpg);
    overflow:hidden;
    width:100vw;
    height:100vh;
    position: absolute;
    z-index: 5;
}
.bg{
    position: absolute;
    width: 98vw;
    height: 155vh;
    top: -6vw;
}
#main {
    overflow: hidden;
    height: 82vh;
    margin-left: 5vw;
    cursor: url(ok.png), auto;
    position: absolute;
    left: -3vw;
    top: 14%;
    background: transparent;
    z-index: 1;
    width: 92vw;
    
}

a{
    position: absolute;
    height: 230px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    display: flex;align-items:flex-end;justify-content:center;
    animation: animate 10500ms linear infinite;
}
a img{
    background-size: cover;
    position: relative;
    top:50px;
}
a:nth-child(3n+1){
    background: linear-gradient(transparent, rgba(170, 170, 170, 0.705));
    
    
}
a:nth-child(3n+2){
    background: linear-gradient(transparent, rgba(212, 240, 243, 0.671));
}
a:nth-child(3n+3){
    background: linear-gradient(transparent, rgba(88, 58, 58, 0.699))
}
@keyframes animate{
    0%{transform: translateY(-200px);}
    100%{transform: translateY(calc(100vh + 200px));}
}
#foot{
    position: absolute;
    width: 40vw;
    background-color: white;
    height: 40vw;
    top: -29.5vw;
    left: 25%;
    border-radius: 13vw;
    background: transparent;
    z-index: 0;
}
#footl{
    position: absolute;
    width: 24vw;
    background-color: white;
    height: 35vw;
    top: -29vw;
    left: 14%;
    border-radius: 9vw;
    transform: rotate(13deg);
    background: transparent;
    z-index: 0;

}
#footr{
    position: absolute;
    width: 24vw;
    background-color: white;
    height: 35vw;
    top: -29vw;
    left: 52%;
    border-radius: 9vw;
    transform: rotate(343deg);
    background: transparent;
    z-index: 0;

}
#ftl{
    position: absolute;
    width: 40vw;
    background-color: white;
    height: 40vw;
    top: 40.5vw;
    left: 24%;
    border-radius: 13vw;
    transform: rotate(1deg);
    background: transparent;
    z-index: 0;

}
#ftl2{
    position: absolute;
    width: 24vw;
    background-color: white;
    height: 35vw;
    top: 44.5vw;
    left: 13%;
    border-radius: 9vw;
    transform: rotate(347deg);
    background: transparent;
    z-index: 0;

}
#ftl3{
        position: absolute;
        width: 24vw;
        background-color: white;
        height: 35vw;
        top: 42vw;
        left: 58%;
        border-radius: 9vw;
        transform: rotate(295deg);
    background: transparent;
    z-index: 0;

}
body #score,#score1,#time,#count{
    background-image: url(score.jpg);
    background: linear-gradient(205deg, #6c5a97,#99d2e9, transparent);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 4vh;
    left: 5vw;
    font-family: 'Righteous', cursive;
    
}
#score1{
    left: 20vw;
    top: 4.6vh;
}
#time{
    
    top: 95vh;
    left: 6vw;
    font-size: 36px;
}
#count{
    top: 95vh;
    left: 26vw;
    font-size: 36px;
}
@keyframes vanish {
    0%{
        width:5px;
    }
    100%{
        width:400px;
    }
}
@media only screen and (max-device-width: 800px) {
   body #main{
       left: 0;
       top:19vh;
       left:0;
       height:78.3vh;
       width:100%;
       margin-left:0;
   }
   .bg{
       position: absolute;
       width: 182vw;
       height: 147vh;
       top: -11vw;
       left: -40vw
   }
   body #score, #score1{
    background-image: url();
       background:linear-gradient(205deg, #6c5a97,#f3f3f3, transparent);
       background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue', helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 4vh;
    left: 5vw;
    font-family: 'Righteous', cursive;
   }
   body #score{
    left: 5vw;
    top: 13.6vh;
}
body #score1{
    left:78vw;
    top: 13.6vh;
}
#count{
    left: 82vw;
}
}